html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    cursor: default;
  }

  @font-face {
    font-family: Overpass Mono;
    src: url(assets/fonts/OverpassMono-VariableFont_wght.ttf);
  }
  
  :root {
    --light: #ffffff;
    --lightb:#aaa;
    --dark: #0A070B;
    --c1:#fccf03;
    --c1a:pink;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--dark);
    color: var(--dark);
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(assets/noise.jpg);
    background-position: center;
    background-size: clamp(26vh, 16vw, 30vh);
  }
  
  body,
  button,
  input, select {
    font-family: 'Overpass Mono', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  body::-webkit-scrollbar, .cart_sec > .content::-webkit-scrollbar, .gyoza_filling_menu::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--dark);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333;
  } .gyoza_filling_menu::-webkit-scrollbar-thumb {
    background-color: #fff;
  } ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .width1 {
    width: clamp(10rem, 85vw, 80rem);
    margin:0 auto;
  }

  ::selection {
    color: var(--dark);
    background-color: var(--light);
    font-weight: 900;
  }
  
  /* END OF GLOBAL STYLES */




  













  .manga_sec {
    width: 100%;
    box-sizing: border-box;
    background-image: url(assets/bg.jpg);
    background-image: -webkit-image-set(url("assets/bg.jpg") 1x, url("assets/bg.webp") 1x);
    background-size: cover;
    background-position: center;
    min-height: 94vh;
    position: relative;
    z-index: 1;
    box-shadow: 0 clamp(6rem, 30vw, 12rem) clamp(6rem, 9vw, 10rem) 0rem var(--dark);
    border: 0.2rem solid var(--light);
    overflow: hidden;
    transform: translateY(0);
  }

  .menu_sec {
    position: relative;
    min-height: 100vh;
  }
  

  

.intro_cta {
  text-align: center;
  color: var(--dark);
  font-size: clamp(0.7rem, 3vw, 0.8rem);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: var(--light);
  background-position: center;
  position: absolute;
  right: clamp(2rem, 5vw, 5rem);
  bottom: clamp(2rem, 5vw, 4rem);
  height: clamp(5rem, 27vw, 8rem);
  width: clamp(5rem, 27vw, 8rem);
  padding: 0 clamp(0.4rem, 3vw, 1rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, 2vw, 1rem);
} .intro_cta .indicator {
  width: clamp(0.3rem, 2vw, 0.4rem);
  height: clamp(0.3rem, 2vw, 0.4rem);
  border-bottom: 0.2rem solid var(--dark);
  border-right: 0.2rem solid var(--dark);
  transform: rotate(45deg) translate(0.2rem, 0.2rem);
  animation: scroll_indicator 0.6s ease infinite alternate;
} @keyframes scroll_indicator {
  0% {
    transform: rotate(45deg) translate(0.2rem, 0.2rem);
  } 100% {
    transform: rotate(45deg) translate(-0rem, -0rem);
  }
}

.neon {
  position: fixed;
}

.neon:after, .neon:before {
  position: absolute;
  animation: steam 5s linear infinite;
}

.neon, .neon:after, .neon:before {
  right: 0;
  height: 100%;
  background-image: linear-gradient(0deg, #f00, #fb0094, #00f, #0f0,#ff0, #f00);
  animation: steam 5s linear infinite;
  background-size: 100%;
  z-index: 3;
  pointer-events: none;
} .neon {
  width: clamp(0.15rem, 0.8vw, 0.2rem);
  animation: steam 5s linear infinite;
} .neon:after {
  content: '';
  filter: blur(1.2rem);
  width: clamp(0.15rem, 0.8vw, 0.4rem);
  opacity: 0.9;
} .neon:before {
  content: '';
  filter: blur(4rem);
  width: clamp(1rem, 3vw, 1.5rem);
  opacity: 0.8;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 100vh;
	}
}


  .logo {
    position: absolute;
    transform: rotate(-90deg) translate(-50%, 150%);
    width: clamp(42vh, calc(100vw - 23rem), 80vh);
    max-width: unset;
    right: clamp(1.5rem, 10vw, 12rem);
  } .logo img {
    display: flex;
  }

  .left_ctnr {
    position: absolute;
    top: clamp(3.5rem, 5vw, 7rem);
    left: clamp(1.5rem, 9vw, 3rem);
    bottom: clamp(1.5rem, 7vw, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  } .menu_address_ctnr {
    width: clamp(10rem, 83vw, 41rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 2rem);
    position: relative;
    top: clamp(42vh, calc(100vw - 23rem), 80vh);
    z-index: 2;
  } .menu_ctnr {
    list-style: none;
    justify-content: flex-end;
    gap: clamp(0.6rem, 7vw, 1.8rem);
    color: var(--light);
    line-height: 1;
    margin: 0;
    padding: 7vh clamp(0rem, 2vw, 3rem) clamp(1rem, 8vw, 1.5rem) clamp(1.5rem, 9vw, 3rem);
    margin-left: calc(clamp(1.5rem, 9vw, 3rem) * -1);
    box-sizing: border-box;
    max-width: 38rem;
    flex: 1;
    position: relative;
    z-index: 3;
  } .menu_ctnr:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
  } .menu_ctnr > li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(0.2rem, 1.5vw, 0.6rem);
    align-items: stretch;
  } .menu_ctnr > li:not(:last-child) {
    margin-bottom: clamp(1.4rem, 9vw, 2rem);
  }  .menu_ctnr > li > div {
    display: flex;
    gap: clamp(0.6rem, 1vw, 0.9rem);
    align-items: baseline;
  } .menu_ctnr h2, .menu_ctnr .price {
    font-weight: 100;
    font-size: clamp(1.1rem, 5vw, 1.4rem);
  } .menu_ctnr > .divider {
    width: 0.9rem;
    margin: 1.4rem 0;
    height: 0.2rem;
    background-color: var(--light);
  } .menu_ctnr li .divider {
    flex: 1;
    width: 100%;
    height: 0.0625rem;
    border-radius: 1rem;
  } .menu_ctnr li:nth-child(odd) .divider {
    background-image: linear-gradient(270deg, #ffff6a, #0ff, #ff5bbc);
  } .menu_ctnr li:nth-child(even) .divider {
    background-image: linear-gradient(90deg, #ffff6a, #0ff, #ff5bbc);
  } .menu_ctnr .price_ctnr {
    display: flex;
    gap: clamp(0.6rem, 5vw, 1.5rem);
    align-items: center;
    text-transform: uppercase;
    min-width: 3rem;
    justify-content: left;
  } .menu_ctnr .price_detail {
    font-size: clamp(0.6rem, 2.5vw, 0.7rem);
    width: min-content;
    opacity: 0.6;
    letter-spacing: 0.05rem;
    line-height: 1.1;
  } .menu_ctnr sub {
    color: var(--lightb);
    font-weight: 100;
    font-size: clamp(0.6rem, 3.3vw, 0.9rem);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 98%;
  } sub p strong, sub p b {
    color: var(--light);
    font-weight: 100;
  } .slogan_ctnr {
    position: absolute;
  } .social_bts {
    display: flex;
    gap: clamp(0.4rem, 3vw, 0.6rem);
    margin-bottom: 1rem;
  } .social_bts a {
    width: clamp(1.8rem, 7vw, 1.9rem);
    height: clamp(1.8rem, 7vw, 1.9rem);
    border-radius: 0.4rem;
    background-size: 50% 55%, cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0C0C0C;
    border: 0.1rem solid #222;
  } .tiktok_bt {
    background-image: url(assets/tiktok.svg);
  } .instagram_bt {
    background-image: url(assets/instagram.svg);
  } .slogan {
    font-size: clamp(1.2rem, 7vw, 1.5rem);
    font-weight: 100;
    text-transform: uppercase;
    background: -webkit-linear-gradient(30deg, #fffc00, #ff9c00, #f000ff,#00baff, #0f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    user-select: none;
  } .flavours {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0.5rem 0;
    padding: 0 0 0 2em;
  } .flavours li {
    color:var(--light);
  } .menu_ctnr .quantity {
    position: relative;
    bottom: 0.2rem;
  } .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0rem;
    color: var(--dark);
    font-weight: 900;
    overflow: hidden;
    border: 0.1rem solid #161616;
    border-radius: 0.3rem;
  } .quantity input {
    width: 1.8rem;
    text-align: center;
    background: no-repeat;
    border: none;
    font-size: 1.2rem;
    cursor: default;
    font-weight: 400;
    margin: 0.1rem;
    transform: translateY(6%);
    color: var(--light);
  } .quantity button {
    width: clamp(1.4rem, 11vw, 1.9rem);
    height: clamp(1.4rem, 11vw, 1.9rem);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    box-sizing: unset;
    padding: 0;
    border-radius: 0.3rem;
    background-color: #CCC;
    transition: background-color 0.3s linear;
  } .quantity button:hover {
    background-color: #fff;
    transition: background-color 0.05s ease;
  } .quantity button:active  {
    background-color: #ccc;
  } .quantity button div {
    transition: border-color 0.2s ease;
    border-radius: 0.2rem;
    width: 85%;
    height: 85%;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-position: center;
    background-size: clamp(0.4rem, 3vw, 0.6rem);
    background-repeat: no-repeat;
  } .quantity button:first-child div {
    background-image: url(assets/dec.svg);
  } .quantity button:last-child div {
    background-image: url(assets/inc.svg);
  }

  .menu_ctnr::-webkit-scrollbar {
    width: 5px;
  }

  .menu_ctnr::-webkit-scrollbar-track {
    background-color: transparent;
    width: 0.4rem;
  }

  .menu_ctnr::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
    background-image: none;
    width: 4px;
  }
  

  .bullets {
    font-size: clamp(0.6rem, 3.3vw, 0.9rem);
    color: var(--light);
    gap: clamp(0.6rem, 4vw, 1rem);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 1.4;
    position: sticky;
    bottom: calc(clamp(8.5rem, 1vw, 6rem) * -1);
    background-color: var(--dark);
    background-image: url(assets/noise.jpg);
    background-position: center;
    background-size: 31vh;
    background-attachment: fixed;
    z-index: 3;
    padding: 0.9rem 0 7rem;
    border-top: 0.1rem solid #161616;
  }

  .address, .veg, .job {
    font-weight: 100;
    letter-spacing: 0.02rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  } .place {
    background-image: url(assets/place.svg);
    cursor: pointer;
  } .veg div, .place, .job div {
    width: 0.8rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-20%);
    line-height: 1.5;
  } .veg span, .address span {
    flex: 1;
  }

  .job div {
    background-image: url(assets/job.svg);
  }


  .veg {
  } .veg div {
    background-image: url(assets/veg.svg);
  }



  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--light);
  transition: background-color 5000s ease-in-out 0s;
}



.cart_sec {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - clamp(0.15rem, 0.8vw, 0.2rem));
  max-width: 37rem;
  z-index: 3;
  transition: transform 0.35s cubic-bezier(0.39, 0.58, 0.57, 1);
  transform: translateX(100%);
  background-color: var(--dark);
  background-image: url(assets/noise.jpg);
  background-position: center;
  background-size: clamp(26vh, 16vw, 30vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
} .cart_sec > .content {
  font-size: clamp(0.7rem, 3.6vw, 1rem);
  color: var(--light);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: clamp(1.2rem, 5vh, 2rem);
  padding: 4rem clamp(2rem, 12vw, 5rem) 2rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
} .cart_sec .neon {
  left: calc(clamp(0.15rem, 0.8vw, 0.2rem) * -1);
  pointer-events: none;
} .cart_sec .logo_cart {
  width: 100%;
} .go_to_cart {
  position: fixed;
  bottom: 1.3rem;
  left: 1.3rem;
  right: 1.5rem;
  height: clamp(2.5rem, 13vw, 3.5rem);
  z-index: 4;
  display: flex;
  gap: 1rem;
  background-color: #101010;
  color: var(--light);
  justify-content: center;
  align-items: center;
  font-size: clamp(0.7rem, 4vw, 1rem);
  font-weight: 100;
  letter-spacing: 0.1rem;
  transform: translateY(100%);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.15s ease, visibility 0.15s ease, background-color 0.15s ease, box-shadow 0.3s ease;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: 0.1rem solid var(--light);
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem var(--light), 0 0rem 0 -1rem var(--light), 0 2rem 2rem var(--dark);
  background-image: url(assets/noise.jpg);
  background-position: center;
  background-size: 31vh;
  user-select: none;
} .go_to_cart:hover {
  box-shadow: 0 0.2rem var(--light), 0 0rem 2rem -1rem var(--light), 0 2rem 2rem var(--dark);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.15s ease, visibility 0.15s ease, background-color 0.15s ease, box-shadow 0.2s ease;
} .go_to_cart:hover {
  background-color: #151515;
} .go_to_cart.show_go_to_cart {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.15s ease, visibility 0.15s ease, background-color 0.15s ease, box-shadow 0.2s ease;
  transform:translateY(0%);
  opacity:1;
  visibility:visible;
}
/* Chrome, Safari, Edge, Opera */
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity input[type=number] {
  -moz-appearance: textfield;
}


.order_summary {
  display: flex;
  flex-direction: column;
} .order_summary .column {
  padding: clamp(0.3rem, 2vw, 0.6rem) 0 clamp(0.3rem, 2vw, 0.6rem) 0.6rem;
  box-sizing: border-box;
} .order_summary .captions div {
  border-bottom: 0.1rem dashed var(--light);
} .order_summary .captions {
  margin-bottom: 1rem;
} .order_summary .captions, .order_summary .item_flex, .result > div {
  display: flex;
  justify-content: space-between;
} .order_summary .first {
  width: 23%;
  position: relative;
} .order_summary .second {
  width: 13%;
} .order_summary .third {
  width: 18%;
} .order_summary .fourth {
  width: 33%;
  position: relative;
} .order_summary .item {
  color: #CCC;
} .column.fourth.gyoza_filling_menu {
  padding: 0 0.2rem clamp(0.3rem, 2vw, 0.6rem) 0;
}

.gyoza_filling_menu {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 2vw, 0.5rem);
  padding: clamp(0.5rem, 3vw, 1rem) 0.8rem;
  /* overflow-y: auto;
  overflow-x: hidden;
  max-height: 4vh; */
  transition: max-height 0.4s cubic-bezier(0, 0, 0.2, 1);
} .gyoza_filling_menu p {
  margin: 0 auto clamp(0.9rem, 2vw, 1.2rem) auto;
  max-width: 50vw;
} .filling_ctnr {
  display: flex;
  display: none;
  gap: clamp(0.2rem, 1.8vw, 1.6rem);
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
} .filling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
} .filling .quantity input {
  width: 1rem;
} .gyoza_filling_menu select {
  border: none;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  border: 0.0625rem solid #222;
  padding: clamp(0.05rem, 0.4vw, 0.2rem) 0.1rem;
  font-size: clamp(0.7rem, 3.3vw, 0.85rem);
  transition: border-color 0.2s ease;
  font-weight: 400;
  background-color: var(--dark);
  color: var(--light);
} .remove_bt {
  right: 0;
  cursor: pointer;
  padding: 0.1rem;
  background-color: var(--light);
  width: 0.6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  font-weight: 900;
  border-radius: 0.2rem;
  font-size: 0.7rem;
} .gyoza_filling_menu select:hover {
  border-color:var(--light);
  transition: border-color 0s ease;
} .gyoza_filling_menu select:focus {
  outline:none;
} .gyoza_filling_menu option {
  border: unset;
  outline: unset;
  border-radius: 0.3rem;
  font-weight: 400;
} .gyoza_filling_menu h3 {
  font-size: clamp(0.6rem, 3.3vw, 1.2rem);
  font-weight: 100;
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.8rem;
} .gyoza_filling_menu h3 picture {
  width: clamp(1.4rem, 3vw, 1.7rem);
} .filling_selectors {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.remove_item {    height: 1rem;
  width: 1rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  border-radius: 0.2rem;
  border: unset;
  background-size: 0.4rem;
  cursor: pointer;
  background-image: url(assets/dec.svg);
  background-position: center;
  background-size: 0.4rem;
  background-repeat: no-repeat;
  background-color: var(--light);
  transition: background-color 0.3s ease;
  border: 0.0625rem solid var(--dark);
  box-shadow: 0 0.0625rem var(--light);
  transform: translate(-140%, 0rem);
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.05s cubic-bezier(0, 0, 0.2, 1);
} .remove_item:hover {
  box-shadow: 0 0 var(--light);
  transform:translate(-140%, 0.125rem);
} .remove_item:active {
  filter: invert(1);
}

.input_ctnr {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 4vw, 1.2rem);
} .input_ctnr > div {
  display: flex;
  gap:1rem;
  align-items: center;
} .input_ctnr input {
  font-size: clamp(0.7rem, 3.5vw, 0.9rem);
  border: 0.0625rem solid #CCC;
  padding: clamp(0.2rem, 1.8vw, 0.4rem) 0.6rem;
  color: var(--light);
  width: 50%;
  text-transform: capitalize;
  flex: 1;
  background-color: #ffffff05;
  border-radius: 0.2rem;
  font-weight: 400;
} .input_ctnr input::placeholder {
  color:#777;
} .result {
  background-color: #ffffff05;
  border-radius: 0.3rem;
} .total_display_price p {
  display: inline;
  border-bottom: 0.1rem dashed var(--light);
} .empty_sign {
  padding:clamp(0.3rem, 2vw, 0.6rem) 0 0 0.6rem;
}

.column p {
  animation: price_highlight 0.8s ease;
}

@keyframes price_highlight {
  0% {
    background-color:#fff;
    color:var(--dark);
  } 100% {
    background-color:#fff0;
    color:var(--light);
  }
}

.receipt_generate {
  background-color: #0a070bf7;
  text-align: center;
  padding: clamp(0.8rem, 4vw, 1rem) 0;
  color: var(--light);
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-size: clamp(0.9rem, 4vw, 1rem);
  position: relative;
  border-radius: 0.3rem;
  border: none;
  margin: 2vh 0 0 0;
  outline: 0.0625rem solid #fff6;
  outline-offset: -0.1rem;
} .receipt_generate:hover {
  background-color: #0a070bed;
  transition:background-color 0.05s ease;
} .receipt_generate:before, .receipt_generate:after {
  content: '';
  position: absolute;
  left: -0.1rem;
  top: -0.1rem;
  background: linear-gradient(90deg, #f00, #fb0094, #00f, #0f0,#ff0, #f00);
  background-size: 400%;
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  z-index: -1;
  animation: steam2 15s linear infinite;
} .receipt_generate:after {
  filter: blur(0.6rem);
  opacity: 0.3;
} .receipt_generate::before {
  border-radius: 0.4rem;
}

@keyframes steam2 {
	0% {
		background-position: 0vw 0;
	}
	100% {
		background-position: 400% 0;
	}
}


.checkout_footer {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 1rem rgb(10 7 11 / 80%);
  z-index: 2;
} .back_to_menu, .clear_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  border-top: 0.0625rem solid #161616;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  transition: background-color 0.4s ease;
  cursor: pointer;
  user-select: none;
} .clear_cart {
  width: 25%;
  border-left: 0.0625rem solid #161616;
  background-color:#0c0c0c;
} .back_to_menu {
  background-color: #0000;
  width: 75%;
  color: var(--light);
  gap: clamp(0.6rem, 5vw, 1.8rem);
} .back_to_menu:hover, .clear_cart:hover {
  background-color:#101010;
  transition: background-color 0.1s ease;
} .back_to_menu div {
  display: flex;
  gap:0.3rem;
} .back_to_menu div span {
  width: 0.3rem;
  height: 0.3rem;
  border-top: 0.15rem solid var(--light);
  border-left: 0.15rem solid var(--light);
  display: block;
  transform: rotate(-45deg) translate(25%, 0%);
}































  
  .job_ctnr form::-webkit-scrollbar {
    width: 0.15rem;
  }


  .job_ctnr {
    color:var(--light);
  } .logo_job {
    width: clamp(10rem, 80vw, 19rem);
    display: block;
    margin: 2rem 0 0.6rem;
  } .job_ctnr a {
    font-size: 1.1rem;
  } .job_ctnr h1 {
    font-weight: 900;
    font-size: clamp(1rem, 5vw, 1.1rem);
    line-height: 1.5;
    margin-bottom: 2rem;
  } .jobs_sec .neon, .jobs_sec .neon:after, .jobs_sec .neon:before {
    right:unset;
    left:0;
  } .job_ctnr h1, .job_description span {
    background: -webkit-linear-gradient(30deg, #fffc00, #ff9c00, #f000ff,#00baff, #0f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    user-select: none;
  } .job_description span {
    font-weight: 900;
  }

  form {
    width: clamp(11rem, 85vw, 45rem);
    overflow-y: auto;
    overflow-x: clip;
    -webkit-overflow-scrolling: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-right: clamp(0.5rem, 2vw, 2rem);
    box-sizing: border-box;
    position: absolute;
    top: 13rem;
    padding-bottom: clamp(5rem, 10vw, 11rem);
  } form input {

  } form input::placeholder {
    
  } form textarea {
    min-height: 5rem;
    max-height: 10rem;
    max-width: 30rem;
    min-width: 10rem;
  } form input:not([type="radio"]), form textarea {
    width: 100%;
    height: clamp(1.5rem, 11vw, 3rem);
    box-sizing: border-box;
    border: 0.1rem solid #202020;
    background-color: #0005;
    border-radius: 0.4rem;
    padding: 0 0.9rem 0;
    color: var(--light);
    font-size: 1rem;
    margin: 0;
  } form p, form label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    z-index: 2;
  } form .checkboxes_ctnr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    margin: 3.6rem 0 0;
  } .submit {
    position: relative;
    color: var(--light);
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 1rem;
    border: 0.1rem solid #AAA;
    margin-bottom: 1rem;
    box-shadow: 0 0.2rem, inset 0 0;
    transform: translateY(0);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-color: #0005;
  } .submit:hover {
    transform:translateY(0.2rem);
    box-shadow: 0 0, inset 0 0;
  } .submit:active {
    transform:translateY(0.3rem);
    box-shadow: 0 0, inset 0 -0.1rem;
  } form .checkboxes_ctnr input {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  } .checkboxes_ctnr > div {
    position: relative;
    display: flex;
    flex: unset;
    border-radius: 0.2rem;
    align-items: stretch;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 0.6rem;
    transition: background-color 0.3s ease;
    padding: clamp(0.4rem, 0vw, 1.1rem) clamp(0.4rem, 0.4vw, 1rem);
    cursor: pointer;
  } .checkboxes_ctnr > div:hover {
    background-color: #ffffff08;
    transition: background-color 0.05s ease;
  } .checkboxes_ctnr > div span {
    font-size: 0.9rem;
    position: absolute;
    bottom: -3.6rem;
    left: calc(clamp(1.4rem, 6.5vw, 1.7rem) / 2);
    transform: translateX(-50%);
    background-color: var(--dark);
    z-index: 3;
    padding: 0.2rem 0.4rem;
    border: 0.1rem solid #222;
    border-radius: 0.3rem;
    opacity:0;
    visibility: hidden;
    transition: opacity 0.5s 0.1s ease, visibility 0.5s 0.1s ease;
    pointer-events: none;
    box-shadow: 0 0.2rem 0.6rem 0.1rem var(--dark);
  } .checkboxes_ctnr > div:hover span {
    transition: opacity 0.2s ease, visibility 0.2s ease;
    opacity:1;
    visibility: visible;
  } .checkboxes_ctnr label {
    font-size: 1rem;
    color: var(--light);
    text-align: left;
    flex: 1;
    height: 100%;
    line-height: 1.5rem;
  } .checkboxes_ctnr > div label{
    transition: transform 0.5s ease;
    cursor: pointer;
  } .checkboxes_ctnr > div:hover label {
    
  } fieldset {
    position: relative;
    border: none;
    border-radius: 0.4rem;
    display: flex;
    padding: 0;
    margin: 0 0 1rem;
  } fieldset legend {
    line-height: 1.5;
    font-size: clamp(0.9rem, 4vw, 1rem);
    position: absolute;
    top: 0;
  } fieldset legend b {
    background-color:rgba(255,255,255,0.06);
    font-weight: 100;
  }

  .over_18_ctnr {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 0.8rem 0;
  } .radios_ctnr, .radios_ctnr label {
    display: flex;
    flex-direction: row;
  } .radios_ctnr {
    gap: 1rem;
  } .radios_ctnr label  {
    gap: 0.4rem;
  } .radios_ctnr label, .radios_ctnr input {
    cursor: pointer;
  }

  .below_18_input {
    position: relative;
  } .underage_warning {
    color: var(--c1);
    right: 0;
    left: 0;
    top: 0;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    font-weight: 900;
    width: 100%;
    margin: 0 auto;
    display: none;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }


  .job_description {
    margin: 0 0 0.4rem 0;
    font-size: clamp(1rem, 1.1vw, 1.1rem);
    line-height: 1.6;
    background-color: #ffffff04;
    padding: 1rem 3.5rem 1rem 2rem;
    display: unset;
    width: max-content;
    border-left: 0.2rem solid var(--light);
  }
















































  
@media (orientation:landscape) and (min-width:800px) {

  body {
    /* background-attachment: initial; */
  }

  .manga_sec {
    min-height: 100vh;
  }
  
  .left_ctnr {
    left: clamp(1.5rem, 10vw, 12rem);
    top: 5rem;
    bottom: 5rem;
  }
  
  .logo {
    position: fixed;
  } .slogan_ctnr {
    position: relative;
  }

  .menu_ctnr {
    width: unset;
    padding: unset;
    top: 2rem;
    margin: 0;
  } .bullets {
    position: relative;
    bottom: unset;
    padding: 3rem 0 0rem;
    background-image: unset;
    background-color: unset;
    border-top: unset;
  }

  .quantity button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .slogan {
    font-weight: 600;
  }
  .social_bts a {
    background-color:transparent;
    transition: background-color 0.5s ease;
    border-color: #111;
  }.social_bts a:hover {
    background-color:#111;
    transition: background-color 0s ease;
  }

  .intro_cta {
    color: var(--light);
    background-color: var(--dark);
    top: 0;
    bottom: 0;
    height: unset;
    width: 5rem;
    right: clamp(4rem, 19vw, 20rem);
  } .intro_cta .indicator {
    border-color: var(--light);
  }

  .address {
    width: unset;
    line-height: 1;
  } .place {
    background-color: transparent;
  } .menu_address_ctnr {
    max-height: unset;
    top: 2rem;
  }




  form {
    position: initial;
    width: clamp(11rem, 45vw, 33rem);
  }
  form .checkboxes_ctnr {
    justify-content: left;
  } .underage_warning {
    font-weight: 100;
  }
  .job_description {
    position: absolute;
    right: 0;
    transform: translate(110%, 12%);
    margin: 0;
    background-color: #ffffff03;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
  } fieldset legend {
    width: 85%;
  }





  .go_to_cart {
    position: sticky;
    bottom: 3.5rem;
    left: clamp(1.5rem, 10vw, 12rem);
    right: unset;
    width: clamp(10rem, 83vw, 38rem);
    margin: 0 0 12rem;
    height: 3.2rem;
    font-size: 0.9rem;
  } .cart_sec {
    width: clamp(15rem, 83vw, 36rem);
    transition: transform 0.45s cubic-bezier(0.39, 0.58, 0.57, 1);
  } .cart_sec .logo_cart {
    width: 91%;
    margin:0 auto;
  }
}

























@media (orientation:landscape) and (min-width:1200px) {

  .gyoza_filling_menu {
  } .gyoza_filling_menu h3 {
    font-size: 1.2rem;
    text-align: left;
    justify-content: left;
  }
}









































@media (max-height:600px) and (min-width:120vh) and (max-width:1000px) {
  .logo {
    right: clamp(1.5rem, 6vw, 11rem);
    
  }

  .left_ctnr {
    flex-direction: row;
    gap: 5vw;
    left: 4rem;
    top: 3rem;
  } .menu_ctnr {
    margin: 0;
    left: 0;
    top: 0;
    max-width: 33rem;
    width: clamp(11rem, calc(80vw - 10rem), 32rem);
    flex: 1;
    height: unset;
  } .slogan {
    left: 3rem;
  } .address {
    width: clamp(11rem, calc(80vw - 10rem), 32rem);
  } .menu_address_ctnr {
    height: 80vh;
    max-height: unset;
    margin: 0 auto;
    width: unset;
    top: 1rem;
    display: block;
  }

  .job_description {
    top:0;
  } form {
    width: clamp(11rem, 50vw, 26rem);
  }

  .go_to_cart {
    max-width: 33rem;
    width: clamp(11rem, calc(80vw - 10rem), 32rem);
    bottom: 1rem;
  }
}



















  @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  }






















































